@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is the longest code I have ever written */

* {
  box-sizing: border-box;
}

.ant-form-item-required{
  color: white !important;
}
.ant-col  label{
  color: white !important;
}
.ant-input{
  background: transparent !important;
  color: white !important;
}
.ant-input::placeholder{
  color: white !important;
}

.ant-input-affix-wrapper{
  background: transparent !important;
}

.ant-input-suffix{
  color: white !important;
}