@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is the longest code I have ever written */

* {
  box-sizing: border-box;
}

.loginPage .ant-form-item-required,
.registerPage .ant-form-item-required {
  color: white !important;
}
.loginPage .ant-col label,
.registerPage .ant-col label {
  color: white !important;
}
.loginPage .ant-input,
.registerPage .ant-input {
  background: transparent !important;
  color: white !important;
}
.loginPage .ant-input::placeholder,
.registerPage .ant-input::placeholder {
  color: white !important;
}

.loginPage .ant-input-affix-wrapper,
.registerPage .ant-input-affix-wrapper {
  background: transparent !important;
}

.loginPage .ant-input-suffix,
.registerPage .ant-input-suffix {
  color: white !important;
}
